/* a {
    color: white;
}

a:hover {
    color: rgb(233, 199, 199);
}

#signup-button {
    color: black;
}

#signup-button:hover {
    color: rgb(233, 199, 199);
}

#contact-btn {
    color: rgb(65, 63, 63);
}
#contact-btn:hover {
    color: black;
} */
.menu {
    position: fixed;
    top: 52px;
    /* left: -200px; */
    width: 200px;
    height: 100%;
    right: 0px;
    background-color: #f5f5f5;
    z-index: 2;
    transition: right 0.3s ease-in-out;
    padding-left: 15px;
    padding-top: 10px;
  }
  
  .menu.is-open {
    right: 0;
  }