.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #002c3a;
}

.student-input {
  text-align: left;
  margin-left: 15px;
}

.attedanceTable {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.userId {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 5px;
  width: 245px;
  align-items: center;
  margin-left: 85px;
}

.userId:hover {
  background-color: #D9E3F0;


}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 5px;
  ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.student-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  width: 80%;
  box-sizing: border-box;
  padding-right: 16px;

}

input.student-input::placeholder {
  color: black;
}

.student-input:focus {
  text-align: center !important;
}

.attedanceTable {

  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */

}

.input-date {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  width: 80%;
  box-sizing: border-box;
}

.clear-input {
  background-color: aqua;
}

.prohibited {
  cursor: not-allowed;
}

.err-msg {
  color: red;
  margin-top: 10px;
}

.tbody td {
  text-align: center;
  /* or left/right, depending on your table */
  vertical-align: middle;
  /* or top/bottom */
  padding: 0.5rem;
  /* adjust this as needed */
}

.thead th {
  text-align: center;
  /* or left/right, depending on your table */
  vertical-align: middle;
  /* or top/bottom */
  padding: 0.5rem;
  /* adjust this as needed */
  background-color: #ccc;
  /* adjust the background color as needed */
  color: #333;
  /* adjust the text color as needed */
}

input[type=text] {
  height: 40px;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid gray;
  border-radius: 4px;
  width: 325px
}

input[type=date] {
  height: 40px;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid gray;
  border-radius: 4px;
  width: 325px
}

input[type=password] {
  height: 40px;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid gray;
  border-radius: 4px;
  width: 325px
}